/* css reset */
html, body, div, span, h1, h2, h3, h4, h5, h6,
p, blockquote, em, img, strong, sub, sup, ol, ul, li,
article, aside, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, footer, header, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote::after,
q:before, q:after {
    content: '';
    content: none;
}
/* end css reset */

/* establish color variables */
:root {
    --dark-bg-color: #1F2937;
    --header-main-text: #F9FAF8;
    --header-sec-text: #E5E7EB;
    --button-color: #3882f6;
    --action-bg-color: #3882f6;
    --info-header-text: #1F2937;
    --quote-bg-color: #E5E7EB;
    --quote-text: #1F2937;
}

/* set page fonts */
body {
    font-family: roboto, sans-serif;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: var(--header-main-text);
}

.hero-secondary-text, .header-link-text {
    font-size: 18px;
    color: var(--header-sec-text);
}

.header-logo-text {
    font-size: 24px;
    color: var(--header-main-text);
}

.info-header-text {
    font-size: 36px;
    font-weight: 900;
    color: var(--info-header-text);
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: var(--quote-text);
}